@charset "UTF-8"


#placeholder{
    color: rgb(0,100,0);
}
#Home{
    color: rgb(220,200,170);
    width: 100%;
    height: 700px;
}

#second{
    color: rgb(220,200,170);
}

#third{
    color: rgb(220,200,170);
}

#fourth{
    color: rgb(220,200,170);
}

body{
    background-color: rgb(27,57,68);

}
html,body {padding:0; margin:0;}

#main {
  width: 100%;
  height: 700px;
  border: 0px solid black;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  background-image: url("nyc.jpg");
  background-repeat: no-repeat;
  background-size:auto;
  margin-top: 0;
}

#main div {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 0;
}

#first_link{
    color: rgb(0,20,31);
}

#second_link{
    color: rgb(0,20,30);
}

#third_link{
    color: rgb(0,20,30);
}

#first_link{
    color: rgb(0,20,31);
}

#second_link{
    color: rgb(0,20,30);
}

#third_link{
    color: rgb(0,20,30);
}

#fourth_link{
    color: rgb(0,20,30);
}

#first_link_div{
    margin-left: 12%;
    margin-top: -45%;
    font-size: 1.5em;
}

#second_link_div{
    padding-left: 10%;
    margin-top: -45%;
    font-size: 1.5em;
}

#Heading{
    text-align: center;
    margin-top: -35%;
    padding-left: 13%;
}

#third_link_div{
    padding-left: 12%;
    margin-top: -45%;
    font-size: 1.5em;
}

#fourth_link_div{
    padding-left: 12%;
    margin-top: -45%;
    font-size: 1.5em;
}

a{
    text-decoration: none;
}

#first_link:hover{
    color:rgb(220,200,170);
}

#second_link:hover{
    color:rgb(220,200,170);
}

#third_link:hover{
    color:rgb(220,200,170);
}

#fourth_link:hover{
    color:rgb(220,200,170);
}

h3{
    color: rgb(220,200,170);
    font-size: 3em;
}
